# **Day - 15 : Analyse Data with NumPy Part - 2**

*1.*

*You task is to import the CSV file using this NumPyâ€™s genfromtxt() function.*

In [1]:
import numpy as np

arr = np.genfromtxt(r"Data\names_age_sex_data.csv", 
                    delimiter=",", dtype ='U7')
arr[:5]

array([['Name', 'Sex', 'Age'],
       ['Grace', 'Male', '18'],
       ['Charlie', 'Female', '60'],
       ['Olivia', 'Female', '27'],
       ['Frank', 'Male', '55']], dtype='<U7')

*a.*

*Transpose the array.*

In [2]:
transposed_arr = arr.transpose()
transposed_arr

array([['Name', 'Grace', 'Charlie', 'Olivia', 'Frank', 'Charlie',
        'Olivia', 'Mia', 'Jos', 'Peter', 'Olivia', 'Charlie', 'David',
        'Kate', 'Thomas', 'Alice', 'Rob', 'Piper', 'Kate', 'Liam',
        'Quinn', 'Charlie', 'David', 'Ryan', 'Kate', 'John', 'kelly'],
       ['Sex', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male',
        'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female',
        'Female', 'Female', 'Male', 'Female', 'Female', 'Female',
        'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female'],
       ['Age', '18', '60', '27', '55', '53', '39', '60', '56', '44',
        '57', '41', '39', '49', '37', '63', '56', '96', '41', '19', '34',
        '54', '18', '49', '19', '21', '21']], dtype='<U7')

*b.*

*Using slicing, create three arrays: an array of all the names column, an array of the age column, and an array of the gender (sex) column from the array.*

In [3]:
names = transposed_arr[0:1,1:]
names

array([['Grace', 'Charlie', 'Olivia', 'Frank', 'Charlie', 'Olivia',
        'Mia', 'Jos', 'Peter', 'Olivia', 'Charlie', 'David', 'Kate',
        'Thomas', 'Alice', 'Rob', 'Piper', 'Kate', 'Liam', 'Quinn',
        'Charlie', 'David', 'Ryan', 'Kate', 'John', 'kelly']], dtype='<U7')

In [4]:
age = transposed_arr[2:3,1:]
age

array([['18', '60', '27', '55', '53', '39', '60', '56', '44', '57', '41',
        '39', '49', '37', '63', '56', '96', '41', '19', '34', '54', '18',
        '49', '19', '21', '21']], dtype='<U7')

In [5]:
gender = transposed_arr[1:2,1:]
gender

array([['Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female',
        'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female',
        'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male',
        'Male', 'Female', 'Male', 'Male', 'Female']], dtype='<U7')

*2.*

*Using NumPy, write a code that returns all names of people age 56.*

In [6]:
aged_56 = names[age.astype(int) == 56]
print(aged_56)

['Jos' 'Rob']

*3.*

*How many people are age 44 or under?*

In [7]:
aged_44_under = names[age.astype(int) <= 44]

aged_44_under_num = np.shape(aged_44_under)
print("The number of people aged 44 and under is", 
      aged_44_under_num[0])

The number of people aged 44 and under is 14

*4.*

*Write another code to return an array of all the males in the table. How many males are in the table?*

In [8]:
males = names[gender =='Male']

males_number_in_array = np.shape(males)
print(males)
print("The number of males is:", males_number_in_array[0])

['Grace' 'Frank' 'Charlie' 'Olivia' 'Jos' 'Peter' 'Rob' 'Charlie' 'David'
 'Kate' 'John']
The number of males is: 11

*5.*

*Calculate the average age of all the females in the table.*

In [9]:
age = age.astype(int)

average_age = age[gender == 'Female'].mean()
print("The average females age is ", average_age)

The average females age is  46.2

*6.*

*Calculate the average age of the persons named Olivia and kate*

In [10]:
olivia_age = age[names == 'Olivia']
kate_age =  age[names == 'Kate']

average = np.array([olivia_age, kate_age]).mean()
print(f'Average age of persons named Olivia and Kate is: {average:.2f}')

Average age of persons named Olivia and Kate is: 38.67