# **Day - 16 : Pandas Series Analysis**

*1.*

*Using pandas, create a pandas series with the list above. Write a code to find how many times each item appears in the list.*

In [1]:
import pandas as pd

list1 = ["wood", "red", "red", "white", "blue", "red"]

colors_series = pd.Series(list1)
colors_series

0     wood
1      red
2      red
3    white
4     blue
5      red
dtype: object

In [2]:
colors_series.value_counts()

red      3
wood     1
white    1
blue     1
Name: count, dtype: int64

*2.*

*Using pandas, write a code to check if red, white, black is in the Series.*

In [3]:
colors = ["red", "white", "black"]

is_in_series = colors_series.isin(colors)
is_in_series

0    False
1     True
2     True
3     True
4    False
5     True
dtype: bool

*3.*

*Using pandas, write a code to return all unique values from the Series.*

In [4]:
unique_values = colors_series.unique()
unique_values

array(['wood', 'red', 'white', 'blue'], dtype=object)

*4.*

*Using pandas update() method, write a code to update the Series you created in question 1. Add colors green and orange to the series. The color green will be at index 0 and orange will be at index 2.*

In [5]:
updates = {0: "green", 2: "orange"}

colors_series.update(updates)

colors_series

0     green
1       red
2    orange
3     white
4      blue
5       red
dtype: object

*5.*

*Write a code to check the number of dimensions of your updated Series( question 4). Write another code to convert the Series into a DataFrame. Your DataFrame should have one column of colors. Check the shape and number of dimensions of your DataFrame.*

In [6]:
colors_series.ndim

1

In [7]:
d_frame_colors= colors_series.to_frame("colors")
d_frame_colors

   colors
0   green
1     red
2  orange
3   white
4    blue
5     red

In [8]:
d_frame_colors.ndim

2

In [9]:
d_frame_colors.shape

(6, 1)